{% extends "based/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}Редагувати завдання{% else %}Створити завдання{% endif %}
{% endblock %}

{% block content %}
  <div class="card shadow">
    <div class="card-body">
      <h2 class="mb-4">
        {% if form.instance.pk %}
          ✏️ Редагування завдання
        {% else %}
          ➕ Створення нового завдання
        {% endif %}
      </h2>

      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">💾 Зберегти</button>
        <a href="{% url 'task-list' %}" class="btn btn-secondary">⬅ Назад</a>
      </form>
    </div>
  </div>
{% endblock %}
